<div class="ContenuCard" >
    <div class="modal-header">
      <b><h4 id="modal-title"><b>Modifier l'agriculteur numéro: {{agriculteur.idAgriculteur}}</b></h4> </b>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <span style="color:red;margin-top:-105px;font-size:1.1em">(*) champ obligatoire</span><br><br>
    <form [formGroup]="myForm" class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Nom :<span style="color:red;">*</span></label>
          <p>(minimum 3 caractéres)</p>
        <input type="text"
               class="form-control"
               formControlName="nom"
               name="nom"
               [(ngModel)]="agriculteur.nom"
               placeholder="Post Name here ..">
          <div
               *ngIf="nom?.invalid && nom?.touched"
                class="text-danger">
                Nom invalide !
         </div>
         <div
              *ngIf="nom?.valid && nom?.touched"
              class="text-success">
              Nom valide !
         </div>
        </div>

        <div class="col-md-6 mb-3">
          <label>Prénom :<span style="color:red;">*</span></label>
          <p>(minimum 3 caractéres)</p>
          <input type="text"
                 class="form-control"
                 formControlName="prenom"
                 name="prenom"
                 [(ngModel)]="agriculteur.prenom"
                 placeholder="Post Name here ..">
            <div
                 *ngIf="prenom?.invalid && prenom?.touched"
                  class="text-danger">
                  Prénom invalide !
           </div>
           <div
                *ngIf="prenom?.valid && prenom?.touched"
                class="text-success">
                Prénom valide !
           </div>
          </div>
      </div>

        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="prix">Adresse (minimum 4 caractéres): <span style="color:red;">*</span></label>
            <input type="text"
                   class="form-control"
                   formControlName="adress"
                   name="adress"
                   [(ngModel)]="agriculteur.adress"
                   placeholder="Post Name here ..">
              <div
                   *ngIf="adress?.invalid && adress?.touched"
                    class="text-danger">
                    adresse invalide !
             </div>
             <div
                  *ngIf="adress?.valid && adress?.touched"
                  class="text-success">
                  adresse valide !
             </div>
            </div>



            <div class="col-md-12 mb-3">
              <label for="prix"> Numéro de téléphone (8 chiffres): <span style="color:red;">*</span></label>
              <input type="number"
                     class="form-control"
                     formControlName="tel"
                     name="tel"
                     [(ngModel)]="agriculteur.tel"
                     placeholder="Post Name here ..">
                <div
                     *ngIf="tel?.invalid && tel?.touched"
                      class="text-danger">
                      Numéro de téléphone invalide !
               </div>
               <div
                    *ngIf="tel?.valid && tel?.touched"
                    class="text-success">
                    Numéro de téléphone valide !
               </div>
              </div>

              <div class="col-md-12 mb-3">
                <label for="prix">Matricule (minimum 8 caractéres): <span style="color:red;">*</span></label>
                <input type="text"
                class="form-control"
                  formControlName="matricule"
                  [(ngModel)]="agriculteur.matricule"
                  name="matricule">
                  <div *ngIf="matricule?.invalid && matricule?.touched" class="text-danger">
                    Matricule invalide !
                  </div>
                  <div *ngIf="matricule?.valid && matricule?.touched " class="text-success">
                    Matricule Valide
                  </div>
            </div>

    </div>

      <div class="modal-footer">
        <button type="button" (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" (click)="updateAgriculteur()" [disabled]="myForm.invalid" class="btn btn-primary">Enregistrer </button>
      </div>
    </form>

  </div>
